tr>th {
    text-align: center;
}

.panel-body.bg {
    background-color: rgb(187, 187, 187);
}

.panel-body.bg label {
    color: black;
    font-size: 15px;
}

.panel-body.bg input {
    border-radius: 3px !important;
    background-color: #fff !important;
    color: black;
}

.tittle {
    margin: 0px;
    color: #0090B2;
    font-size: 12px;
}

.dataTables_length select {
    border-radius: 3px !important;
    background-color: #fff !important;
    color: black;
}

.dataTables_filter input {
    border-radius: 3px !important;
    background-color: black !important;
    color: black;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {
    .btnAlign {
        text-align: center;
        margin-bottom: 30px;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .btnAlign {
        text-align: center;
        margin-bottom: 30px;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .btnAlign {
        text-align: center;
        margin-bottom: 30px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .btnAlign {
        text-align: center;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    button {
        width: 60%;
    }
    .btnAlign {
        text-align: center;
    }
}
