<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Consulta Poliza</title>
  </head>
  <body>
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 marg-prim">
            <div class="col-lg-12 col-md-12 col-sm-12 grid title-pad">
              <label class="title">Póliza</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 marg-prim grid">
              <div class="col-lg-4 col-md-4 col-sm-4 margin-in">
                <label class="text">N° Póliza</label>
                <div>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>


      <div class="col-lg-12 col-md-12 col-sm-12 marg-prim">
        <div class="col-lg-12 col-md-12 col-sm-12 marg-prim grid">
          <div class="row col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in">
              <label class="text">N° de Póliza</label>
              <div>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in">
              <label class="text">Tipo Documento</label>
              <div class="select">
                <select class="form-control">
                  <option value="volvo"></option>
                  <option value="saab">1</option>
                  <option value="opel">2</option>
                  <option value="audi">3</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in fix-btn">
              <label class="text">N° Documento</label>
              <div>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row col-lg-12 col-md-12 col-sm-12 marg-prim">
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in">
              <label class="text">Nombre</label>
              <div>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in">
              <label class="text">Apellidos</label>
              <div>
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 margin-in fix-btn">
              <label class="text">CUSPP</label>
              <div>
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--div de la tabla -->
      <div class="col-lg-12 col-md-12 col-sm-12 marg-prim">
        <table id="example" class="table table-bordered table-responsive-sm ">
          <thead>
            <tr>
              <th scope="col" class="col-width">N° de Póliza</th>
              <th scope="col" class="col-width">Nombre Afiliado</th>
              <th scope="col" class="col-width">Fecha Póliza</th>
              <th scope="col" class="col-width"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-donate"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-print icon"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-donate"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-print icon"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-donate"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-print icon"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-eye"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-donate"></i>
                </button>
                <button type="button" class="btn btn-icon btn-sm">
                  <i class="fas fa-print"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
