.column5 {
    width: 20%;
}

.column3 {
    width: 40%;
}

.column2 {
    width: 50%;
}
.campo {
    background-color: lightgray;
  }
.column4 {
    width: 25%;
}

.img img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.modal-titulo {
    font-size: 25px;
}

.mat-table {
    width: 100%;
    overflow-x: scroll!important;
    background-color: #ffffff;
}

.mat-cell {
    height: 60px;
    border-bottom: 1px solid lightgray;
}

.mat-header-row,
.mat-row,
.mat-footer-row {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.mat-cell,
.mat-footer-cell,
.mat-header-cell {
    flex: none;
    width: 10%;
    /*Aqui pon lo que quieras width: 20&*/
    overflow-x: auto;
    color: black;
    background-color: #ffffff;
    text-align: center;
}

.mat-cell,
.mat-header-cell {
    color: black;
    display: block;
    background-color: #ffffff;
    text-align: center;
    font-size: 11px;
    padding: 15px 0px;
}

.mat-header-cell {
    color: black;
    background-color: #ffffff;
    display: block;
    font-size: 12px;
}

.btn-azul-fix {
    font-size: 11px;
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 10%;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .column5 {
        width: 30%;
    }
    .column3 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .column4 {
        width: 50%;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 20% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
    .mr {
        margin-right: 0px;
        margin-bottom: 12px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .column5 {
        width: 100%;
    }
    .column3 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .column4 {
        width: 100%;
    }
    .mr {
        margin-right: 0px;
        margin-bottom: 12px;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 30% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .column5 {
        width: 100%;
    }
    .column3 {
        width: 100%;
    }
    .column2 {
        width: 100%;
    }
    .column4 {
        width: 100%;
    }
    .mr {
        margin-right: 0px;
        margin-bottom: 12px;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 40% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
}