.frmLblColor {
    font-size: 11px;
}

.btn-azul-fix {
    font-size: 11px;
}

.mat-table {
    height: auto;
    overflow: auto;
    background-color: #ffffff;
}

.mat-cell {
    height: 60px;
    border-bottom: 1px solid lightgray;
}

.mat-header-row,
.mat-row,
.mat-footer-row {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.mat-cell,
.mat-header-cell {
    color: black;
    display: block;
    background-color: #ffffff;
    text-align: center;
    font-size: 11px;
    padding: 15px 0px;
}

.mat-header-cell {
    color: black;
    background-color: #ffffff;
    display: block;
    font-size: 12px;
}

.mat-column-item {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-tipoBusqueda,
.mat-column-acciones {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-nomAfiliado {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 32% !important;
    width: 32% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-header-cell,
.mat-header-row {
    padding: 0px !important;
    min-height: 20px !important;
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .mat-table {
        width: 100%;
        overflow-x: scroll!important;
        background-color: #ffffff;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 25% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
    .mat-column-item {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-tipoBusqueda,
    .mat-column-acciones {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-nomAfiliado {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 25% !important;
        width: 25% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .mat-table {
        width: 100%;
        overflow-x: scroll!important;
        background-color: #ffffff;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 30% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
    .mat-column-item {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 15% !important;
        width: 15% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-tipoBusqueda,
    .mat-column-acciones {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 15% !important;
        width: 15% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-nomAfiliado {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 25% !important;
        width: 25% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .mat-table {
        width: 100%;
        overflow-x: scroll!important;
        background-color: #ffffff;
    }
    .mat-cell,
    .mat-footer-cell,
    .mat-header-cell {
        flex: none;
        width: 40% !important;
        /*Aqui pon lo que quieras width: 20&*/
        overflow-x: auto;
        color: black;
        background-color: #ffffff;
        text-align: center;
    }
    .mat-column-item {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 40% !important;
        width: 40% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-tipoBusqueda,
    .mat-column-acciones {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 40% !important;
        width: 40% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .mat-column-nomAfiliado {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 50% !important;
        width: 50% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}