<div class="col-lg-12 col-md-12 col-sm-12 ">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 class="titulo" style="margin: 0px;"><b>Buscar</b></h5>
        </div>
        <div class="panel-body camposForm">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Número de Póliza</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.NumeroPoliza" name="NumeroPoliza" maxlength="10" (keypress)="numberOnly($event)">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="frmLblColor">CUSPP</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.CUSPP" name="CUSPP">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Tipo de Documento</label>
                                <select id="slcTipoIdent" class="form-control" (change)="cambiarTipoDoc()" [(ngModel)]="dataBusqueda.TipoDocumento" name="TipoDocumento">
                                    <option value="0">Seleccione una opción</option>
                                    <option *ngFor="let item of this.cmbTipoDoc" value="{{ item.codigo }}">{{ item.Nombre}}</option>
                                </select>
                            </div>
                            <div *ngIf="dataBusqueda.TipoDocumento === 0" class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="frmLblColor">Número de Documento</label>
                                <input type="text" class="form-control form-control-sm" disabled>
                            </div>
                            <div *ngIf="dataBusqueda.TipoDocumento !== 0" class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <label class="frmLblColor">Número de Documento</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.NumeroDocumento" name="NumeroDocumento">
                            </div>
                            <!-- <div class="form-group col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top: 22px;">
                                <button type="button " class="btn btn-azul col-md-12 col-xs-12" (click)="buscarData()"><i class="glyphicon glyphicon-search "></i> Buscar</button>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Apellido Paterno</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.ApellidoPaterno" name="ApellidoPaterno" (keypress)="soloLetras($event)">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Apellido Materno</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.ApellidoMaterno" name="ApellidoMaterno" (keypress)="soloLetras($event)">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Primer Nombre</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.PrimerNombre" name="PrimerNombre" (keypress)="soloLetras($event)">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <label class="frmLblColor">Segundo Nombre</label>
                                <input type="text" class="form-control form-control-sm" [(ngModel)]="dataBusqueda.SegundoNombre" name="SegundoNombre" (keypress)="soloLetras($event)">
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-xs-12" style="padding-top: 22px;">
                                <button type="button " class="btn btn-azul btn-azul-fix col-md-12 col-xs-12" (click)="buscarData()"><i class="glyphicon glyphicon-search "></i> Buscar</button>
                            </div>
                            <div class="form-group col-lg-2 col-md-2 col-xs-12" style="padding-top: 22px;">
                                <button type="button " class="btn btn-azul btn-azul-fix col-md-12 col-xs-12" (click)="limpiar()"><i class="fa fa-file"></i> Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>

    <div class="col-lg-12 col-md-12 col-sm-12 marg-prim">
        <!--div de la tabla -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="titulo" style="margin: 0px;"><b>Resultados</b></h5>
            </div>
            <div class="panel-body camposForm">
                <div class="table-responsive">
                    <mat-table [dataSource]="dataSource" class="table table-hover">
                        <mat-header-row *matHeaderRowDef="columnas; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
                        <ng-container matColumnDef="item">
                            <mat-header-cell *matHeaderCellDef>
                                <div>Item</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson; let i=index">{{i+1}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="numPol">
                            <mat-header-cell *matHeaderCellDef>
                                <div>N° Póliza</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson">{{lesson.NumeroPoliza}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="numEndoso">
                            <mat-header-cell *matHeaderCellDef>
                                <div>Endoso</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson">{{lesson.NumeroEndoso}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="nomAfiliado">
                            <mat-header-cell *matHeaderCellDef>
                                <div>Nombre del Afiliado</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson">{{lesson.PrimerNombre}} {{lesson.SegundoNombre}} {{lesson.ApellidoPaterno}} {{lesson.ApellidoMaterno}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef>
                                <div>Fecha Emisión</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson"></mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell *matHeaderCellDef>
                                <div>Acciones</div>

                            </mat-header-cell>
                            <mat-cell class="duration-cell" *matCellDef="let lesson"><i style="color:#0090B2" class="fa fa-search exclam" routerLink="/gastosSepelio" (click)="polizaSeleccionada(lesson)"></i></mat-cell>
                        </ng-container>
                    </mat-table>
                    <mat-paginator [length]="0" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true"></mat-paginator>
                </div>
            </div>

        </div>

    </div>
</div>